<div class="modal-header">
	<h4 class="modal-title">Подробности за поръчката</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
		
	<div>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab">Общo</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab">Продукт</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab">Подробности</a>
		  </li>		  		  		  
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active p-3" id="overview" role="tabpanel">
			<form>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Идентификационен номер:</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.id}">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Клиент:</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.customer.fullName}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Наемател:</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.product.user.fullName}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Цена на продукта:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${order.product.price}">
			    </div>
			  </div>			  		  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Обща сума за плащане:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${order.total}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label"></label>
			    <div class="col-sm-10">
			      <b>Обща сума = Наети дни * цена на продукта</b>
			    </div>
			  </div>			  	
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Статус:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${order.status}">
			    </div>
			  </div>
			</form>
		  </div>
		  <div class="tab-pane fade p-3" id="products" role="tabpanel">
			<div class="row border rounded p-1"> <!-- th:with="product = ${detail.product}" -->
				<div class="col-sm-3"><img th:src="@{${order.product.mainImagePath}}" class="img-fluid" /></div>
				<div class="col-sm-8">
					<div class="text-wrap">
						<b>[[${order.product.name}]]</b>
					</div>				
				</div>
			</div>
		  </div>
		  <div class="tab-pane fade p-3" id="shipping" role="tabpanel">
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Дата на поръчка:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${#dates.format(order.orderTime, 'E, dd MMM yyyy')}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Начална дата на наема:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${#dates.format(order.startDay, 'E, dd MMM yyyy')}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Дата на връщане:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${#dates.format(order.endDay, 'E, dd MMM yyyy')}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Дни под наем:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${order.rentedDays}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Град:</label>
			    <div class="col-sm-10">
			    	<input type="text" readonly class="form-control" th:value="${order.product.city.name}">
			    </div>
			  </div>	
			  	  

		  

	</div>
	
<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>