<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>[[${title}]] - [[${SITE_NAME}]]</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
</head>
<body>

<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
	<a class="text-white"
		th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
		[[${columnLabel}]]
	</a>								
	<span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>					
</th>
	
<a th:fragment="page_link(moduleURL, pageNum, label)"
	class="page-link" 
	th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>
		
<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
	<div class="text-center m-1" th:if="${totalItems > 0}">
		<span>Показване [[${entityName}]] # [[${startCount}]] до [[${endCount}]] от [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>Не са намерени [[${entityName}]]</span>
	</div>
	
	<div th:if="${totalPages > 1}">
		<nav>
		  <ul class="pagination justify-content-center flex-wrap">
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
		    </li>		  
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
		    </li>
		    
		    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
		    	th:each="i : ${#numbers.sequence(1, totalPages)}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
		    </li>		    
		  </ul>
		</nav>	
	</div>	
</div>	

<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">Внимание</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<div class="modal-body">
				<span id="modalBody"></span>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
			</div>
		</div>
	</div>
</div>

<div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Потвърждение за изтриване</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<div class="modal-body">
				<span id="confirmText"></span>
			</div>
			
			<div class="modal-footer">
				<a class="btn btn-success" href="" id="yesButton">Да</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Не</button>
			</div>
		</div>
	</div>
</div>

<div th:fragment="format_currency(amount)" th:remove="tag">
	<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
</div>
		
<div th:fragment="format_time(dateTime)" th:remove="tag">
	<span th:text="${#dates.format(dateTime, 'yyyy-MM-dd')}"></span>
</div>	

<div th:fragment="currency_input(amount)" th:remove="tag">
	<input type="text" readonly class="form-control" th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
</div>

<div th:fragment="votes_available(entityURL, votesUp, votesDown)" th:remove="tag">
		<a class="fas fa-thumbs-up fa-2x col-sm-4 mt-4"
			th:href="@{${entityURL} + '/voteUp/' + ${votesUp}}"
			th:title="'Add positive review'"
			>[[${votesUp}]]</a>
		
		<a class="fas fa-thumbs-down fa-2x mt-3" 
			th:href="@{${entityURL} + '/voteDown/' + ${votesDown}}"
			th:title="'Add negative review'"
			>[[${votesDown}]]</a>
</div>

<div th:fragment="votes_unavailable(entityURL, votesUp, votesDown, message)" th:remove="tag">
		<a class="fas fa-thumbs-up fa-2x col-sm-4 mt-4"
			th:href="@{${entityURL} + '/voteUp/' + ${votesUp}}"
			th:title="'Add positive review'"
			style="pointer-events: none"
			>[[${votesUp}]]</a> 
		
		<a class="fas fa-thumbs-down fa-2x mt-3" 
			th:href="@{${entityURL} + '/voteDown/' + ${votesDown}}"
			th:title="'Add negative review'"
			style="pointer-events: none"
			>[[${votesDown}]]</a>
			<br></br>
		<h5 class="col-sm-10">[[${message}]]</h5>
</div>

<div th:fragment="comment_section_customer(entityUrl)" th:remove="tag">
		<h3>Добави коментар:</h3>
		<form th:action="@{${entityUrl}}" method="post" style="max-width: 500px; margin: 0 auto"
		enctype="multipart/form-data"
		th:object="${comment}">
		<input type="hidden" name="productId" th:value="${product.id}" />
		<div class="border border-secondary rounded p-3">
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Моля, въведете коментара си тук:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128"  />
			</div>
		</div>
		
		<div class="text-center">
			<input type="submit" value="Запази" class="btn btn-primary m-3" />
		</div>
		</div>
	</form>
</div>

<div th:fragment="comment_section_visitor(entityUrl, message)" th:remove="tag">
		<h3>Добави коментар:</h3>
		<form th:action="@{${entityUrl}}" method="post" style="max-width: 500px; margin: 0 auto"
		enctype="multipart/form-data"
		th:object="${comment}">
		<input type="hidden" name="productId" th:value="${product.id}" />
		<div class="border border-secondary rounded p-3">
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Моля, въведете коментара си тук:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128" disabled  />
			</div>
		</div>
		
		<div class="text-center">
			<input type="submit" value="Запази" class="btn btn-primary m-3" disabled/>
		</div>
		<h5 class="col-sm-10 text-center">[[${message}]]</h5>	
		</div>
	</form>
</div>

<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<a class="text-white"
			th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
			[[${columnLabel}]]
		</a>								
		<span th:if="${sortField == fieldName}"
			th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>					
	</th>



<div th:fragment="see_product_comments(entityUrl)" th:remove="tag">
		<div><hr/></div>
		<a class="fas fa-comments fa-2x mt-10"
			th:href="@{${entityUrl}}"
			th:title="'Add positive review'"
			>Вижте коментарите за продуктa</a>
</div>

<div th:fragment="see_product_renter_info(entityUrl, renterName)" th:remove="tag">
		<div>
			<div><hr/></div>
			<div>
				<h3>Наемател: </h3>
			</div>
			<a class="fas fa-male fa-2x mt-10"
				th:href="@{${entityUrl}}"
				th:title="'Add positive review'"
				>[[${renterName}]]</a>
		</div>
		
</div>
	
</body>
</html>